pkgbase = smm2helper-git
	pkgdesc = SMM2 Course World browser, graphical frontend for TheGreatRambler's SMM2 API
	pkgver = v1.1.r2.gef12fbe
	pkgrel = 1
	url = https://github.com/YidaozhanYa/SMM2Helper
	arch = any
	license = MIT
	makedepends = python
	depends = python
	depends = python-gobject
	depends = python-pycryptodome
	depends = python-pywebview
	depends = python-requests
	depends = python-pyclip
	source = git+https://github.com/YidaozhanYa/SMM2Helper.git
	source = smm2helper.desktop
	source = smm2helper
	sha256sums = SKIP
	sha256sums = 26ec62e9b6c3a6d60908406f57083c65030b4b29a0ffd84b42397954ad89720f
	sha256sums = b86b76f10f5ccf7b5f878abde73ea1c12eac6500c84747a9344668ad9e7e99ed

pkgname = smm2helper-git
