.fluent-button {
    -moz-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    -moz-box-pack: center;
    justify-content: center;
    text-decoration-line: none;
    vertical-align: middle;
    margin: 0;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    outline-style: none;
    padding: 5px 12px;
    min-width: 96px;
    border-radius:  4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    transition-duration: 100ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
}

.fluent-button:hover {
    cursor: pointer;
}

.fluent-button:hover:active {
    outline-style: none;
}

.fluent-button:focus {
    outline-style: none;
}

.fluent-button:focus-visible {
    outline-style: none;
}

.fluent-button-primary {
    color: white;
    background-color: #0f6cbd;
    border-color: transparent;
}

.fluent-button-primary:hover {
    background-color: #115ea3;
    border-color: transparent;
    color: white;
}

.fluent-button-primary:hover:active {
    background-color: #0c3b5e;
    border-color: transparent;
    color: white;
}

.fluent-button-secondary {
    background-color: white;
    color: #242424;
}

.fluent-button-secondary:hover {
    background-color: #f5f5f5;
    border-color: #c7c7c7;
}

.fluent-button-secondary:hover:active {
    background-color: #e0e0e0;
    border-color: #b3b3b3;
    outline-style: none;
}