.details-root {
    padding: 5px;
}

.details-with-icon::before {
    top: 4px;
    position: relative;
    padding-right: 2px;
}

.details-multi-root {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.details-gap {
    width: 4px;
}

.details-head {
    display: flex;
    gap: 4px;
    margin-bottom: 12px;
}

.details-img-small {
    width: 200px;
    height: 123px;
    border-radius: 4px;
}

.details-title {
    font-weight: 700;
    font-size: 1.1rem;
}

.details-info {
    display: flex;
    flex-direction: column;
    gap: inherit;
    margin-left: 4px;
    width: calc(calc(60vw - 200px) - 4.2rem);
}

.details-course-maker {
    cursor: pointer;
}

.details-course-maker::before {
    content: url("/res/ic_fluent_person_20_regular.svg");
}

.details-course-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.details-course-description::before {
    content: url("/res/ic_fluent_edit_20_regular.svg");
}

.details-course-upload-time::before {
    content: url("/res/ic_fluent_clock_20_regular.svg");
}

.details-text-small {
    font-size: 14px;
    color: #999999;
}

.details-others {
    width: 100%;
    display: flex;
    margin-bottom: 12px;
}

.details-others-left {
    /*width: 40%;*/
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: 16px;
}

.details-others-right {
    /*width: 60%;*/
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.details-course-scene::before {
    content: url("/res/ic_fluent_brightness_high_20_regular.svg");
}

.details-course-scene {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.details-course-difficulty::before {
    content: url("/res/ic_fluent_text_bullet_list_tree_20_regular.svg");
}

.details-course-rate::before {
    content: url("/res/ic_fluent_ribbon_20_regular.svg");
}

.details-course-record-holder::before {
    content: url("/res/ic_fluent_ribbon_star_20_regular.svg");
}

.details-course-likes::before {
    content: url("/res/ic_fluent_heart_20_regular.svg");
}

.details-course-boos::before {
    content: url("/res/ic_fluent_heart_broken_20_regular.svg");
}

.details-course-id::before {
    content: url("/res/ic_fluent_number_symbol_20_regular.svg");
}

.details-course-tag-1::before {
    content: url("/res/ic_fluent_tag_20_regular.svg");
}
.details-course-tag-2::before {
    content: url("/res/ic_fluent_tag_20_regular.svg");
}

.details-img-full {
    height: 100px
}

.details-img-full-root {
    width: calc(60vw - 3.5rem);
    overflow-x: auto;
    display: block;
    border-radius: 4px;
}



.details-options {
    float: right;
    position: absolute;
    bottom: 1.4rem;
    right: 1.4rem;
    display: flex;
    flex-direction: row;
    gap: 8px;
}


.details-mii-img {
    height: 106px;
    filter: drop-shadow(0 0 1px black);
}

.details-maker-region::before {
    content: url("/res/ic_fluent_map_20_regular.svg");
}

.details-maker-last-active::before {
    content: url("/res/ic_fluent_phone_screen_time_20_regular.svg");
}

.details-maker-vs-rank::before {
    content: url("/res/ic_fluent_text_bullet_list_tree_20_regular.svg");
}

.details-small-title {
    display: flex;
    align-items: flex-end;
    height: 24px;
    font-weight: 500;
}

.details-maker-vs-plays::before {
    content: url("/res/ic_fluent_games_20_regular.svg");
}

.details-maker-vs-won::before {
    content: url("/res/ic_fluent_location_20_regular.svg");
}

.details-maker-vs-lost::before {
    content: url("/res/ic_fluent_location_dismiss_20_regular.svg");
}

.details-maker-vs-disconnected::before {
    content: url("/res/ic_fluent_wifi_off_20_regular.svg");
}

.details-maker-vs-kills::before {
    content: url("/res/ic_fluent_people_team_add_20_regular.svg");
}

.details-maker-vs-killed-by-others::before {
    content: url("/res/ic_fluent_people_team_delete_20_regular.svg");
}

.details-maker-coop-plays::before {
    content: url("/res/ic_fluent_games_20_regular.svg");
}

.details-maker-endless-e::before {
    content: url("/res/ic_fluent_cellular_data_4_20_regular.svg");
}
.details-maker-endless-n::before {
    content: url("/res/ic_fluent_cellular_data_3_20_regular.svg");
}
.details-maker-endless-ex::before {
    content: url("/res/ic_fluent_cellular_data_2_20_regular.svg");
}
.details-maker-endless-sex::before {
    content: url("/res/ic_fluent_cellular_data_1_20_regular.svg");
}

.details-maker-uploaded-courses::before {
    content: url("/res/ic_fluent_send_copy_20_regular.svg");
}

.details-maker-uploaded-courses::before {
    content: url("/res/ic_fluent_send_copy_20_regular.svg");
}

.details-maker-points::before {
    content: url("/res/ic_fluent_book_coins_20_regular.svg");
}

.details-maker-course-played::before {
    content: url("/res/ic_fluent_book_number_20_regular.svg");
}

.details-maker-first-clears::before {
    content: url("/res/ic_fluent_fast_acceleration_20_regular.svg");
}

.details-maker-mii-pose::before {
    content: url("/res/ic_fluent_accessibility_20_regular.svg");
}
.details-maker-mii-hat::before {
    content: url("/res/ic_fluent_hat_graduation_20_regular.svg");
}
.details-maker-mii-shirt::before {
    content: url("/res/ic_fluent_person_20_regular.svg");
}
.details-maker-mii-pants::before {
    content: url("/res/ic_fluent_presenter_20_regular.svg");
}