
body {
    --fake-mica: #f3f3f3 radial-gradient(#eff4f9 50%, #f3f3f3 100%) no-repeat fixed;
    background: var(--fake-mica);
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
    height: 100vh;
    color: rgb(36, 36, 36);
}


.left {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 0.7rem;
    padding-right: 0.35rem;
}

.right {
    display: flex;
    flex-direction: column;
    width: calc(60vw - 1.4rem);
    flex: 1;
    padding: 0.7rem;
    padding-left: 0.35rem;
}

.main-head {
    display: flex;
    height: 35px;
}

.main-card {
    flex: 1;
}

.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin-bottom: 0.75rem;
}

.tab {
    margin: 5px;
    color: #424242;
    font-weight: 400;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.tab-active {
    color: #242424 !important;
    font-weight: 600 !important;
    border-bottom: 2px solid #0078d4;
}

.card {
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 2px 0, rgba(0, 0, 0, 0.14) 0 2px 4px 0;
    padding: 6px;
    overflow: auto;
}

ol {
    padding: 0;
    margin: 0;
}

.entry {
    border-radius: 4px;
    height: 50px !important;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 3px;
    width: inherit !important;
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
}

.entry:hover {
    background-color: #e3e8ec
}

.entry-active {
    background-color: #e3e8ec
}

.entry::before {
    content: "";
    position: relative;
    width: 3px;
    left: -9px;
    height: 24px;
    border-radius: 10px;
    background: #0078d4;
    opacity: 0;
    scale: 0;
    pointer-events: none;
    transition: all ease-in-out .1s;
}

.entry::marker {
    visibility: hidden;
}

.entry-active::before {
    opacity: 1;
    scale: 1;
}

.entry-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.text-limited {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.course-desc {
    font-size: 12px;
    color: #606266;
}

.course-title {
    height: 23px;
}

.message {
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 6px;
    margin: 10px;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
    opacity: 0;
    font-size: 14px;
    transform: scaleY(0);
}

.error-message {
    color: darkred;
    background-color: #ff9999;
}

.float {
    float: left;
    width: 100vw;
    top: 0;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    visibility: hidden;
}