.message {
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 6px;
    margin: 10px;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    opacity: 0;
    font-size: 14px;
    transform: scaleY(0);
    width: max-content;
}

.float {
    float: left;
    width: 100vw;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: darkred;
    background-color: #ff9999;
}

.info-message {
    color: #668390;
    background-color: #f2fdff;
}

.success-message {
    color: #335b19;
    background-color: #e1fff2;
}